[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=Term4u
GenericName=TerminalEmulator

Exec=term4u %U
StartupWMClass=dev.term4u.Term4u

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.term4u.Term4u

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for term4u:// URLs.
MimeType=x-scheme-handler/term4u;
